* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: white;
  color: black;
}

/* HEADER */
header {
  background: #163e64;
  padding: 20px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: white;
  font-size: 28px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #F97316;
}

/* HERO */
#hero {
  background: #357abd;
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.btn {
  background: black;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: #F97316;
}

/* SECTIONS */
section {
  padding: 60px 40px;
}

section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

/* ABOUT */
.about-text {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-size: 18px;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background: #1E40AF;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
}

/* PROJECTS */
.small-projects-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: #3B82F6;
  color: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
}

/* PIE CHART */
.pie-chart-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.pie-card {
  max-width: 700px;
  width: 100%;
  background: black;
}

.pie-card iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
}

/* CONTACT */
#contact {
  text-align: center;
}

#contact a {
  color: #1E3A8A;
}

#contact a:hover {
  color: #F97316;
}

/* FOOTER */
footer {
  background: #1E3A8A;
  color: white;
  text-align: center;
  padding: 20px;
}
